<div>
    <input type="number" [formControl]="senderId" placeholder="sender id">
    <input type="number" [formControl]="recieverId" placeholder="reciever id">
    <button *ngIf="senderId.valid&&recieverId.valid" (click)="connectToWebSocket()">Connect</button>
</div>
<br>
<br>
<br>
<div style="width:25%;display:flex;flex-direction:column;margin-bottom: 50px;" #messagecontainer>
    <p *ngFor="let msg of messages" [class.recieved-msg]="msg.senderId!=senderId.value" [class.send-msg]="msg.senderId==senderId.value" style="background-color:grey;padding:15px;border-radius:5px;color:white;max-width:300px;height: auto;">{{msg.content}}<br><small style="color:whitesmoke;font-size:10px">{{msg.timestamp}}</small></p>
</div>
<div style="position: fixed;width:100%;padding:10px;left: 0px; bottom: 0px;background-color: rgba(255,255,255,0.8);">
    <input type="text" [formControl]="message" placeholder="message">
    <button *ngIf="message.valid" (click)="sendMessage()">Send</button>
</div>
<router-outlet></router-outlet>